* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', 'Sans Serif', 'Arial'
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar img {
    height: 75px;
}


.nav-buttons ul {
    display: flex;
    list-style: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.nav-buttons li {
    padding: 10px 0;
    width: 115px;
    flex: 1;
    text-align: center;
}

.nav-buttons #middle {
    border-style: solid;
    border-width: 0 1px;
}

header hr {
    border-top: 1px;
}

.page-title {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 65px;
    gap: 40px
}

.page-title h1 {
    width: 500px;
}
