* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', 'Sans Serif', 'Arial'
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar img {
    height: 75px;
}

.nav-buttons ul {
    display: flex;
    list-style: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.nav-buttons li {
    padding: 10px 0;
    width: 115px;
    flex: 1;
    text-align: center;
}

.nav-buttons #middle {
    border-style: solid;
    border-width: 0 1px;
}

header hr {
    border-top: 1px;
}

.page-title {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 65px;
    gap: 30px;
}

.page-title h1 {
    max-width: 700px;
    font-size: 40px;
    color: #434e5a;
}

.page-title h5 {
    font-weight: lighter;
    font-size: 20px;
    color: #8d959e;
}

section.first {
    display: flex;
    justify-content: space-evenly;
}

.information {
    display: flex;
    flex-direction: column;
}

.testimony {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.testimony img {
    height: 400px;
    border-radius: 5px;
    align-self: auto;
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 60px;
}

.description h3 {
    color: #8d959e;
    font-size: 20px;
    font-weight: lighter;
}

.testimonial {
    display: flex;
    align-items: center;
    gap: 25px;
}

.testimonial img {
    height: 70px;
    border-radius: 100px;
}

.testimonial-bio {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.testimonial-bio h4 {
    color: #434e5a;
    font-size: 18px;
}

.testimonial-bio p {
    font-size: 16px;
    color: #8d959e;
}

section hr {
    margin: 35px 0;
    width: 150px;
    border: 2px solid #ebeeef;
    align-self: center;
}

.add-info {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.add-info > p {
    max-width: 550px;
    font-size: 20px;
    color: #434e5a;
}

.feature {
    display: flex;
    align-items: center;
    gap: 30px;
}

.feature p {
    max-width: 400px;
    color: #8d959e;
}

.feature div {
    padding-left: 19px;
    padding-top: 14px;
    background-color: #ebeeef;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    color: #8d959e;
    font-size: 20px;
}

.contact-form {
    padding: 50px;
    background-color: #ebeeef;
    max-height: 660px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-heading h1 {
    color: #434e5a;
}

.contact-heading p {
    max-width: 300px;
    font-size: 15px;
    color: #8d959e;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label {
    font-size: 17px;
    color: #434e5a;
}

form input, form select {
    padding: 18px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #8d959e;
    font-size: 16px;
}

form select, form option {
    color: black;
    background-color: white;
}

form select:invalid, option[value=""] {
    color: #888;
}

form button {
    padding: 18px;
    border-radius: 5px;
    background-color: #434e5a;
    border-style: none;
    font-size: 16px;
    color: white;
}